/*Some css fixes to use night theme with IPython slides*/
/*background-color: #f6f6f6;*/
/*background-image:url("Dorsey and Gable Trim Dec 2003 001.jpg");*/
body {
background-color: #b2a57f;
background-image:url("Small Logo.png");
background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.reveal .slide-number {
  position: fixed;
  display: block;
  right: 18px;
  bottom: 18px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px; }
  
.reveal {
  position: relative;
  width: 120%;
  height: 100%;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none; }

/*.reveal .slides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: visible;
  z-index: 1;
  text-align: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 75% 40%;
          perspective-origin: 75% 40%; }*/
/*.reveal p {
color: white;
}
.reveal ul, ol {
color: white;
}
div.output_area pre {
color: white;
}
div.output_stderr {
background: #F00;
}
.reveal table th, .reveal table td {
color: white;
}*/
